
svg
{
    width: 100px;
    height: 100px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
   
}
svg rect
{
    width: 100px;
    height: 100px;
    fill: none;
    stroke-width: 100px;
    stroke:#263f44;
    /* stroke:#015668; */
    stroke-dasharray: 100;
    stroke-dashoffset:50% ;
    animation: animate 1s linear infinite;
}

@keyframes animate
{
    to
    {
        stroke-dashoffset: 250%;
    }
}