*
{
    padding: 0;
    margin: 0;
}

.form-update
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 200px;
    background: #dddddd;
    border-radius: 20px;
}

.form-update h3
{
    padding-top: 30px;
}