#nav
{
    border-bottom: 1px solid #ddd;
    width: 100%;
    top:0;
    position: fixed;
    z-index: 999999;
    height: 75px;
}

.profile    
{
    position: relative;
	width: 100%;
    top: 75px;
    border-radius: 10px;
}
.profile .row
{
    position: relative;
    width: 100%;
}
.profile .row .col-md-10
{
    width: 100%;
    height: 100%;
 
}
.info
{
	position: absolute;
	top: 150px;
	height: 160px;
	width: 100%;
}
.info .name
{
	bottom: 20px;
	left: 210px;
	position: absolute;
}
.info .name a
{
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
}

.profile .wal-pic
{
	position: relative;
	width: 100%;
	height: 315px;
	top: 0px;
	background: #ddd;
}


.profile .wal-pic img
{
	width: 100%;
	height: 100%;
}

.profile .info .avt 
{	position: absolute;
	width: 168px;
	height:168px;
	left: 20px;
	bottom: -30px;
}

.profile .info .avt img
{
	background: yellow;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 4px solid white;
	z-index: 99;
}

.menu
{
    width: 100%;
    height: 43px;
    display: flex;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu .blank
{
    height: 43px;
    width: 30%;
    background: #fff;
}

.menu ul
{
    position: relative;
    width: 70%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.menu ul li
{
    line-height: 43px;
    color: #fff;
   
}
.menu ul li .about
{
    position: absolute;
    width: 50%;
    height: 100%;
    border-right: 1px solid #ddd;
}
.menu ul li .update
{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
}

.profile .col-md-2
{
    position: relative;
    width: 80%;
    height: 100vh;
    border-left: 1px solid #ddd;
    right:0;
    position: fixed;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;

}

.box-status
{
    margin-top: 50px;

    position: relative;
    width: 80%;

    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.box-status .box-status-content .avt img
{
    position: relative;
    width: 70px;
    height: 70px;
}


.box-status-content
{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding: 20px; */
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    word-wrap: break-word;
    padding: 40px;
    background: #fff;
}

.box-status-content .avt
{
    position: relative;
    width: 52px;
    height: 52px;
    float: left;
}


.box-status-content .avt img
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


.box-status .box-status-content .imgPost
{
    position: relative;
    width: 100%;
    height: auto;
}

.box-status .box-status-content .imgPost img
{

    width: 100%;
    height: 100%;
}

.box-status .box-status-content .status
{
    font-size:20px;
}


.box-status .box-status-content .react-info
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.box-status .box-status-content .react .react-info a
{
  
}
.box-status .box-status-content .react-button
{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.box-status .box-status-content .react-button button
{
    position: relative;
    width: 33%;
    border: none;
    background: white;
}

.box-status .box-status-content .react-button button:hover
{
    background: #cecfd1;
    border-radius: 10px;
}

.box-status .box-status-content  .react-comment
{
    width: 100%;
}

/* .box-status .box-status-content  .react-comment input
{
    position: relative;
    width: 100%;
} */

.box-status .box-status-content .react-comment
{
    position: relative;
    width: 100%;
    /* min-height: 100px;   */
    padding: 10px;
}
.react-comment-info
{
    position: relative;
    display: flex;
}



.react-comment-avt
{
    position: relative;
    width: 42px;
    height: 42px;
}
.react-comment-avt img
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.react-comment-name
{
    line-height: 42px;
    padding-left: 5px;  
} 
/* 
.react-write-comment
{
    margin-top: 10px;
    position: relative;
    display:flex;
    justify-content: space-between;
    padding: 10px;
}
.react-write-comment .react-write-comment-avt
{
    position: relative;
    width: 42px;
    height: 42px;
}
.react-write-comment .react-write-comment-avt img
{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.react-write-comment input
{
    position: relative;
    width: 92%;
    border-radius: 20px;
} */

@media(max-width: 800px) and (min-width: 576px){
  .col-md-2{
      display: none;
  }
}
@media (max-width: 576px)
{

  
    #delete
    {
        width: 10%;
    }
   
    .profile .info
    {
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .profile .info .avt
    {
        position: relative;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .profile .info .name
    {
        margin-top: -30px;
        position: relative;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    
    .Message
    {
 
	 position:relative;
        width: 100%;
        height: 100%;
        top: 230px;
        margin-left:-50px;
  
    
    }
    

    .profile .info .name a
    {
        color: #fff;
    }
 

    .profile .blank
    {
        display: none;
    }

    .menu ul
    {
        width: 100%;
    }

    .menu ul li .about
    {
        width: 50%;
    }
 
    .profile .col-md-2
    {
        padding-top: 20px;
        top: auto;
        margin-top: 100px;
        position: relative;
        width: 80%;
        height: auto;
        border-left: 1px solid #ddd;
        overflow-y: hidden;
        left: 50%;
        transform: translateX(-50%);
    }

    .box-status-edit .edit-info .name
    {
        font-size: 12px;
    }
    .repon
	{
		display:none;
	}
    .profile
    {
        padding-left: 20px;
        width:100%;
    }
}

.box-form-post
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    margin-top: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;


}

#privacy
{
    margin: 0 20px;
    padding: 0;
    background: white;
    border:none;
    color:#616770;
}

.box-status-content .status-info
{
    width:100%;
    display: flex;
}
.box-status-edit
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 70px ;
}

.box-status-edit .edit-info
{
    width: 90%;
}
.box-status-edit .edit-info .name
{
    margin-left: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #385898;
}
.box-status-edit  #delete
{
    width: 10%;
}

#delete #dropdownMenuLink
{
    background: white;
    border:none;
    color: black;
}

#delete .dropdown-item
{
    height: 40px;
    line-height: 30px;
}

 #dropFriend
{
    position: absolute;
    left: 50%;
    top:30%;
    width: 50%;
    height: 100%;
    transform: translateY(-50%);
    z-index: 9999;

}

#dropFriend .dropdown-menu
{
    width: 100%;
}

.Message
{
    width: 100px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left:50%;
    bottom: 15px;
    background: white;
    text-align: center;
    border-radius: 5px;
    padding-left:10px;
    font-size:14px;

}


.col-md-2 h4{
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid #ddd;

    
  }

  .menu
  {background:white
  }

  .col-md-2
  {
  	background:white;
  }